.update-recipe-form {
  text-align: center;
  padding: 10px;
}

.input-label {
  display: inline-block;
  text-align: left;
  /* margin-left: 5px; */
}

.update-form-input {
  width: 60%;
  margin: 10px;
}

.form-title {
  margin: 0;
  font-weight: bold;
}
