.update-recipe-form {
  text-align: left;
  padding: 10px;
  margin: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.create-recipe {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.update-form-input {
  width: 80%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #285f72;
  background: transparent;
  color: #285f72;
  margin: 10px;
  text-align: left;
}

.form-title {
  margin: 0;
  font-weight: bold;
}
