.update-recipe-form {
  text-align: left;
  padding: 10px;
  margin: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.create-recipe {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.update-form-input {
  width: 80%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #285f72;
  background: transparent;
  color: #285f72;
  margin: 10px;
  text-align: left;
}

.form-title {
  margin: 0;
  font-weight: bold;
}

/* ----------------------- Media Queries  - Mobile -----------------------  */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .create-recipe {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    width: 20rem;
  }

  .update-recipe-form {
    margin: 40px;
  }

  .input-label {
    padding-left: 10px;
  }
  .update-form-input {
    width: 40rem;
  }

  .form-title {
    margin: 0;
    font-weight: bold;
  }

  .save-button {
    align-items: center;
  }
}

/* ----------------------- Media Queries  - Tablet -----------------------  */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .update-recipe-form {
    margin: 40px;
  }

  .create-recipe {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    width: 40rem;
  }
  .input-label {
    padding-left: 10px;
  }
  .update-form-input {
    width: 20rem;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
  }

  .form-title {
    margin: 0;
    font-weight: bold;
  }

  .save-button {
    align-items: center;
  }
}

/* ----------------------- Media Queries  - Tablet -----------------------  */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
}
