.recipe-page,
.comment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 30px 50px;
  width: 800px;
  border: 3px solid #285f72;
  border-radius: 5px;
  font-family: 'Oxygen';
}

.recipe-photo {
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 6px rgba(40, 95, 114, 0.6);
}

.recipe-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.recipe-title {
  font-family: 'Shadows Into Light Two', cursive, sans-serif;
  font-weight: bold;
  margin: 10px;
  color: #285f72;
}

.time-check {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0px 10px;
}

.prep-times,
.cook-times {
  display: flex;
  align-content: center;
  margin: 0px 12px;
}

/* .ingredients-container,
.instructions-container {
  /* width: 100px;
} */

.ingredients,
.instructions,
.source,
.comment-title,
.time-title {
  font-family: 'Shadows Into Light Two', cursive, sans-serif;
  font-weight: bold;
  color: #285f72;
  margin-right: 10px;
}

.comment-section {
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  margin-top: 0px;
}

.comment-line {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 95%;
  border-bottom: 3px solid #285f72;
}

.comment-text {
  font-style: italic;
}

.username {
  font-weight: bold;
  font-style: normal;
  color: #285f72;
}

.button-toolbar {
  margin: 10px;
}
