@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap');

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(104, 228, 170, 0.5);
  background-size: cover;
}
