.login {
  margin: 40px;
  padding: 20px;
}

.login-form {
  padding: 20px;
  border-radius: 6px;
}

.login-title {
  color: #285f72;
  font-family: 'Sue Ellen Francisco';
  text-align: center;
}
.login-button {
  margin: 10px;
  padding: 5px 12px;
  border: 1px solid #285f72;
  background: transparent;
  border-radius: 6px;
  color: #285f72;
}

.login-input {
  margin: 10px;
}
