.home-page {
  margin: 30px;
}

.recipe-title-home {
  font-family: 'Comic Neue';
  color: #285f72;
  text-align: center;
  font-size: 40px;
}

.recipe-card-photo {
  border-radius: 8px;
  background-color: rgba(104, 228, 170, 0.5);
}
