.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-card-page {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profile-info {
  margin: 50px;
  width: 40rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-picture {
  margin: 30px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 30px;
}

.profile-title {
  font-family: 'Handlee', cursive, sans-serif;
  font-weight: bold;
  color: #285f72;
}

.profile-username {
  font-family: 'Handlee', cursive, sans-serif;
  text-align: center;
  font-weight: bold;
  color: #285f72;
  margin: 20px;
}

.profile-text {
  text-align: justify;
}

.prof-description {
  font-size: 20px;
}

/* ----------------------- Media Queries  - Mobile -----------------------  */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .recipe-card-page {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .profile-info {
    margin: 40px;
    width: 20rem;
  }

  .profile-picture {
    margin: 20px;
    max-width: 120px;
    max-height: 120px;
  }

  .profile-title {
    font-size: 20px;
  }

  .profile-username {
    font-size: 26px;
  }

  .prof-description {
    font-size: 16px;
  }
}

/* ----------------------- Media Queries  - Tablet -----------------------  */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .recipe-card-page {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .profile-info {
    margin: 40px;
    width: 30rem;
  }

  .profile-picture {
    margin: 30px;
    max-width: 200px;
    max-height: 200px;
  }

  .profile-title {
    font-size: 20px;
  }

  .profile-username {
    font-size: 26px;
  }

  .prof-description {
    font-size: 16px;
  }
}

/* ----------------------- Media Queries  - Tablet -----------------------  */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
}
