.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: right;
}

.comp-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.login-button,
.register-button {
  margin: 5px;
}
