.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 20px;
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
}
.register-title {
  color: #285f72;
  font-family: 'Sue Ellen Francisco';
  text-align: center;
  margin: 10px;
}

.register-input {
  margin: 10px;
}

.register-button {
  margin: 10px;
  padding: 5px 12px;
  border: 1px solid #285f72;
  background: transparent;
  border-radius: 6px;
  color: #285f72;
}

.additional-fields {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* ----------------------- Media Queries  - Mobile -----------------------  */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .register {
    margin: 40px;
    padding: 30px;
  }

  .register-form {
    padding: 20px;
    border-radius: 6px;
  }

  .register-button {
    justify-content: center;
    align-self: center;
  }
}

/* ----------------------- Media Queries  - Tablet -----------------------  */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .register {
    margin: 40px;
    padding: 30px;
  }

  .register-form {
    padding: 20px;
    border-radius: 6px;
  }

  .register-button {
    justify-content: center;
    align-self: center;
  }
}

/* ----------------------- Media Queries  - Tablet -----------------------  */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
}
